{{template "base".}}

{{define "content"}}
<div class="row">
  <div class="col">
    <img
      src="static/images/woman-laptop.png"
      class="d-block w-100"
      alt="woman-laptop"
    />
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="text-center mt-4">
            Bienvenido a mi página web de alquiler abitaciones!
          </h1>
          <p>
            Estas vacaciones seran fantasticas y inolvidables! Estas vacaciones
            seran fantasticas y inolvidables! Estas vacaciones seran fantasticas
            y inolvidables! Estas vacaciones seran fantasticas y inolvidables!
            Estas vacaciones seran fantasticas y inolvidables! Estas vacaciones
            seran fantasticas y inolvidables!
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <a href="/make-reservation" class="btn btn-secondary">
            Rerserva ahora
          </a>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>
