{{template "base".}}

{{define "content"}}
<div class="row">
  <div class="col">
    <h1 class="text-center mt-4">Gracias por la reserva!</h1>
    <p>
      Estas vacaciones seran fantasticas y inolvidables! Estas vacaciones seran
      fantasticas y inolvidables! Estas vacaciones seran fantasticas y
      inolvidables! Estas vacaciones seran fantasticas y inolvidables! Estas
      vacaciones seran fantasticas y inolvidables! Estas vacaciones seran
      fantasticas y inolvidables!
    </p>
  </div>
</div>
{{ end }}
